@model IEnumerable<CLUB_VALERO_DB.Entities.Booking>
@using CLUB_VALERO_DB.DbContext_DB;

@{
    ViewBag.Title = "BookingList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    DBContextClub db = new DBContextClub();

}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<div class="row">
    <div class="col-md-8">
        <input id="myInput" type="text" class="form-control" placeholder="Search.." style="margin-top: 21px;">
    </div>
    <div class="col-md-4">
        <form action="/Admin/BookingToExcel" method="post">
            <button type="submit" class="btn btn-success mt-4">Export To Excel</button>
        </form>
    </div>
</div>


<table class="table text-white table-striped table-bordered table-responsive table-hover mt-4" style="background-color: darkcyan;">
    <tr class="bg-info text-white">
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfRooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfKids)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HolidayType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MealPlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfAdult)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        var result = db.Members.FirstOrDefault(x => x.Id == item.UserId);
        <tbody id="myTable">
            <tr>
                <td>
                    @if(result !=null)
                {
                    @result.MemberShipId
                }
                  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nights)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelephoneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfirmationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfirmedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfRooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfKids)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HolidayType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealPlan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfAdult)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("admin"))
                        {
                            <a href="@Url.Action("EditHotelBooking","Admin",new { Id=item.Id})" onclick="return confirm('Are you sure Update Member?')" data-toggle="tooltip" data-placement="top" title="EDIT MEMBER"><i class="fa fa-edit  text-white" style=" font-size: 27px;"></i></a> <br />
                            <a href="@Url.Action("BookingDelete","Admin",new { Id=item.Id}) " onclick="return confirm('Are you sure Delete Member?')" data-toggle="tooltip" data-placement="top" title="DELETE MEMBER"><i class="fa fa-trash  text-danger" style=" font-size: 30px;"></i></a> <br />

                        }
                    }

                </td>
            </tr>
        </tbody>

    }

</table>
